#TokenItemFarm {
  .first {
    background-color: #18283a;
  }

  .second {
    background-color: #0e121a;
  }

  .top-border {
    border-radius: 17px 17px 0 0;
  }

  .bottom-border {
    border-radius: 0 0 17px 17px;
  }

  .top-bottom-border {
    border-radius: 17px;
  }

  .first {
    .title {
      font-size: 22px;
    }

    .earned {
      font-size: 13px;
    }

    .earned-value {
      font-size: 17px;
    }
  }

  .token-avatar {
    width: 50px;
    height: 50px;
    background-color: #04c0d7;
    border-radius: 50%;
    margin-right: 20px;
  }

  @media (max-width: 548px) {
    .first {
      .title {
        font-size: 20px;
      }

      .title1 {
        font-size: 15px;
      }

      .token-avatar {
        width: 40px;
        height: 40px;
        background-color: #04c0d7;
        border-radius: 50%;
        margin-right: 15px;
      }
    }
  }

  @media (max-width: 440px) {
    .first {
      .title {
        font-size: 16px;
      }

      .title1 {
        font-size: 13px;
      }

      .token-avatar {
        width: 30px;
        height: 30px;
        background-color: #04c0d7;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 340px) {
    .first {
      .title {
        font-size: 13px;
      }

      .title1 {
        font-size: 10px;
      }

      .token-avatar {
        width: 25px;
        height: 25px;
        background-color: #04c0d7;
        border-radius: 50%;
        margin-right: 7px;
      }

      .apr {
        font-size: 12px;
      }
    }
  }

  .profit {
    font-size: 13px;
  }

  .token-amount {
    font-size: 17px;
  }

  .token-value {
    font-size: 15px;
  }

  .one {
    color: #04c0d7;

    button {
      color: #fff;
      padding: 2px 20px 2px 15px;
      background: #0e121a;
      border: 2px solid #04c0d7;
      box-sizing: border-box;
      border-radius: 29px;
    }
  }

  .two,
  .three {
    background: #0e121a;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    flex: 1;

    button {
      background: #121e30;
      border: 2px solid #51ffa1;
      box-sizing: border-box;
      border-radius: 7px;
      padding: 10px;
    }
  }

  .three {
    button {
      border: 2px solid #04c0d7;
    }
  }

  .third {
    background-color: #18283a;

    .title {
      font-size: 22px;
    }

    button {
      color: #fff;
      padding: 1px 10px 1px 10px;
      background: #0e121a;
      border: 2px solid #04c0d7;
      box-sizing: border-box;
      border-radius: 29px;
    }

    .multi-reward-button {
      color: #fff;
      padding: 1px 10px 1px 10px;
      background: #04c0d7;
      box-sizing: border-box;
      border-radius: 29px;
    }

    button.one {
      background: #121e30;
      border: 2px solid #51ffa1;
      box-sizing: border-box;
      border-radius: 7px;
      padding: 10px;
    }

    button.two {
      background: #121e30;
      border: 2px solid #04c0d7;
      box-sizing: border-box;
      border-radius: 7px;
      padding: 10px;
    }
  }

  .fourth {
    background-color: #20334f;

    .detail {
      color: #04c0d7;
    }
  }
}